.container-myskilltree{
    width: 100%;
    height: auto;
}.container-myskiltree-title{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.conatiner-skillTreeView{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.skils-title{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}.container-tree-animation{
    margin-top: 1rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    &>div{
        height: 2rem;
    }
}.container-animation-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}