.frcc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}.frcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}.frss{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}.fccc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.fccs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}.fcss{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}