$min-width-small: 820px;
$min-width-medium: 1120px;
$min-width-max: 1380px;

$width-small: 720px;
$width-medium: 1020px;
$width-max: 1280px;

$border-color:white;

.f-c-s-s{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.f-c-c-s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}.f-r-c-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.f-c-c-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.f-r-c-s{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
}

.container-projectView{
    // width: 100vw;
    width: 95vw;
    height: auto;
    margin-top: 3rem;
    // background-color: rgb(113, 113, 113);
    display: grid;
    justify-content: center;
    // display: flex;
    grid-template-columns: 0.625fr 64px 0.375fr;
    // grid-template-columns: 557px 64px 557px;
    margin-left: auto;
    margin-right: auto;

}
.frame-projectView-img{
    // width: 100%;
    height: 100vh;
    left:0;
    margin-left: 0;
    position: relative;
    &>div{
        width: 100%;
        height: inherit;
        &>img{
            border-radius: 4px;
            border: 1.5px solid #b2b2b2;
        }
    }
}.projectView-img{
    position: absolute;
    left: 50%;
    top: 50%;
    width:95%;
    height: auto;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    &>div{
        position: relative;
        width:inherit;
        height:inherit;
        &>img{
            width: 100%;
            height: 100%;
            border-radius: 6px;
            border: 2px solid gray;
        }&>img:nth-child(2){
            transform: rotate(180deg);
            position: absolute;
            // opacity: 0.3;
            left: 0;
            top: 100%;
            mask-image: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 0%) 50%, rgb(255 255 255 / 30%) 100%);
        }
    }
    &>img:nth-child(2){
        transform: rotate(180deg);
        // opacity: 0.3;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* 그라데이션으로 투명도 조절 */
    }
}
.frame-projectView-line{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectView-line{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div:nth-child(1),&>div:nth-child(3){
        width: 2px;
        height: calc( 50% - 24px );
        background-color: rgba(148, 148, 148, 0.377);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &>div{
            width: 2px;
            height: 100%;
            background-color: $border-color;
        }
    }
    &>div:nth-child(2){
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: rgba(148, 148, 148, 0.377);
        position: relative;
        overflow: hidden;
        &>div:first-child{
            width: 48px;
            height: 48px;
            position: relative;
            background-color: $border-color;
        }
        &>div:nth-child(2){
                width: 90%;
                height: 90%;
                border-radius: 100%;
                background-color: black;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-family: "Noto Sans KR", sans-serif;
                font-weight: 600;
                font-size: 1.2rem;
        }
    }

    
}.projectView-line:first-child{
    &>div:first-child{
        background-color: transparent;
        &>div{
            background-color: transparent;
        }
    }
}.projectView-line:last-child{
    &>div:last-child{
        background-color: transparent;
        &>div{
            background-color: transparent;
        }
    }
    
}
.projectView-info{
    &>div{
        gap: 0.5rem;
        box-sizing: border-box;
        padding: 0.5rem
    }
}
.frame-projectView-info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    &>div{
        gap: 2rem;
    }
}
.projectView-info-in{
    gap: 0.5rem;
    &>div{
        gap: 0.5rem;
        &>span{
            font-size: 0.9rem;
            text-align: start;
        }
    }
}   

.projectView-info-skill-set{
    width: 100%;
    height: auto;
    &>div{
        gap: 6px;
    }
    &>div>span{
        gap:6px;
        &>img{
            width: 1rem;
        }
    }
}
.projectView-in-title{
    font-size: 1rem;
}
.projectView-info-link{
    width: 100%;
    gap: 0.5rem;
    &>span:nth-child(1){

    }
    &>span:nth-child(2){
        color: rgb(113, 113, 153);
        cursor: pointer;
        text-decoration: underline;
    }
    margin-bottom: 0.5rem;
}
.projectView-info-divide{
    // border: 1px solid rgba(138, 138, 138, 0.482);
    width: 95%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
